
/* ------------------------------------ MAIN SECTION ARROWS AND LOGIN*/

.h-main {
    width: calc(100% - 15rem);
}
.main-arrows a i{
    position: relative;
    font-size: 1.5rem;
    color: black;
    opacity: 0.5;
    transition: 0.5s;
    border-radius: 50%;
    background-color: white;
}
.main-arrows a i::after {
    content: '';
    position: absolute;
    border: 4px solid black;
    border-radius: 50%;
    height: 1.6rem;
    width: 1.6rem;
    left: -1px;
    top: -1px;
}

.main-arrows a:hover i {
    opacity: 1;
}
.arr-act i{
    opacity: 1 !important;
}

.main-arrows a:hover i {
    opacity: 1;
    background-color: white;
}

/* Login button */
.log-but-par {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: 50px;
}
.login-buttn {
    position: relative;
    border: unset;
    background-color: black;
    color: #b3b3b3;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
    padding: 0 !important;
    align-items: center;
}
.login-buttn:hover,
.press-buttn:hover {
    color: white;
}

.login-buttn span {
    padding-top: 0.2rem;
    margin: auto 0;
    font-family: fontBold;
    color: white;
}
.press-buttn::after {
    margin-top: 10px;
}
.login-buttn img{
    position: relative;
    display: block;
    border-radius: 50%;
    left: 0;
    width: 30px;
}
.press-buttn {
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;

    background-color: black;
    color: #b3b3b3;
}

.dropdown-menu{
    left: -25% !important;
    background-color: black;
    top: 39px !important;
    transform: translate3d(2.6rem, 0px, 0px)!important;
}
.dropdown-menu a {
    color: #b3b3b3 ;
}

.dropdown-menu a:hover {
    background-color: unset;
    color: white;
}



/* -----------------------------------------Content SECTION */
.album-header {
    width: 100%;
    height: 14rem;
    display: flex;
    color: white;
    font-family: fontBold;
}
.album-header small {
    font-family: fontLight;
    color: #b3b3b3;
}
.albm-img {
    aspect-ratio: 1/1;
}
.albm-img img {
    height: 100%;
    aspect-ratio: 1/1;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.541);
}
.albm-details {
    display: flex;
    align-items: center;
    gap: 5px;
}

.albm-info {
padding-top: 0.5rem;
}
.albm-details img {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
/* list tracks */
.tracks-lists {
    display: block;
    background-color: rgba(0, 0, 0, 0.158);
    width: 100%;
    padding: 2rem;
}
.menu-icons i {
    color: #b3b3b3;
    font-size: 1.8rem;
}
.play-alb {
    position: relative;
}
.menu-icons i:first-child {
    position: relative;
    color: #1DB954;
    background-color: white;
    border-radius: 50%;
    font-size: 3rem;
}
.menu-icons i:first-child::after {
    position: absolute;
    content: "";
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 50%;
    left: -1px;
    top: 0;
    border: 2px solid #1DB954;
}

.menu-icons i:hover {
    cursor: pointer;
}
/* lists */
.play-list-head {
    justify-content: space-between;
    color: #b3b3b3;
    border-bottom: 1px solid #b3b3b33a;
    font-size: 0.8rem;
}
.list-title {
    display: flex;
    justify-content: flex-start;
    gap: 1.4rem;
}
.list-title p{
    margin: 0;
}
.list-title span {
    font-family: fontLight;
    font-size: 0.8rem;
}

.play-list-body {
    margin-top: 0.8rem;
    justify-content: space-between;
    color: #b3b3b3;
    align-items: baseline;
    font-size: 1rem;
    transition: 0.3s;
}

.play-list-body p{
    margin: 0;
    color: white;
}

.play-list-body small {
    font-family: fontLight;
}

